.vscode
__pycache__

*.bak
data/*.*
data/*
data/**/
data/CPSC
data/**/*.mat
data/**/*.hea
data/**/*.csv
results/*.png
results/*.csv
results/*.npy
logs/ecg-*
logs/*.log
logs/*.csv
shap/*.png
/data
.tmp.driveupload/*
.private_libs/*